<form>
  <h2>Serie hinzufügen:</h2>
  <div class="mb-2">
    <label class="form-label" for="newShowID">ID:</label>
    <input
      [(ngModel)]="show.id"
      class="form-control"
      id="newShowID"
      name="newShowID"
      type="number"
      placeholder="Hier die ID der Serie eingeben!"
    />
  </div>

  <div class="mb-2">
    <label class="form-label" for="newShowTitle">Titel:</label>
    <input
    [(ngModel)]="show.title"
      class="form-control"
      id="newShowTitle"
      name="newShowTitle"
      type="text"
      placeholder="Hier den Titel der Serie eingeben!"
    />
  </div>

  <div class="mb-2">
    <button class="btn btn-primary" type="submit" (click)="save()">Absenden</button>
  </div>
</form>
